<!doctype html>
<html>
  <head>
    <title><%=forumName%> Results</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <link rel="stylesheet"  type="text/css" href="/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> 

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm justifycontent-center">
    
      <div class="container-fluid">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="/"><%=forumName%></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Topics
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% availableResults.forEach((result)=>{%>
      
              <a class="dropdown-item" href="<%= `topics/${result.Title}/posts` %>"><%=result.Title%></a>
          
            <% }); %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <% if(session.user_id) {%>
          <a class="nav-link dropdown-toggle" role="button" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/account"> Settings </a>
            <a class="dropdown-item" href="/logout"> Logout </a>
          </div>
          <%} else{%>
            <a class="nav-link" href="/login">Login</a>
         <%}%>
        </li>
      </ul>
      <form action="/search-result" method="GET" class="d-flex">
        <input class="form-control" name="keyword" placeholder="Search for Topics">
        <button class="btn btn-outline-success form-inline" type="submit" style="display:inline-block">Search</button>
      </form>
    </div>
  </nav>

    <h1><%=forumName%> Results</h1>
    <h2>Here are the Topics from the search "<%=keyword%>":</h2>
    <ul>

      <ul style="list-style:none;">
        <% availableResults.forEach((result)=>{%>
      
          <li><a href="<%= `topics/${result.Title}/posts` %>"><%=result.Title%></a></li>
      
        <% }); %>

    </ul>
  </body>
</html>